{% for share in samba_shares %}

[{{ share.name }}]
  path = {{ share.folder }}
  browseable = yes
  read only = no
  guest ok = yes
  create mode = 0777
  directory mode = 0777
  force user = nobody
{% endfor %}
